#!/usr/bin/env bash

# Enable aliases to be sudo’ed
alias sudo="sudo "

# Flush Directory Service cache
alias flushdns="killall -HUP mDNSResponder"

# Recursively delete `.DS_Store` files
alias dscleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Docker
alias dcu="docker-compose up"
alias dcub="docker-compose up --build"
alias dcd="docker-compose down"
alias dstart="docker start $(docker ps -a -q)"
alias dstop="docker stop $(docker ps -a -q)"
