#!/usr/bin/env bash

# get the latest GitHub release
# > get_latest_github_release "nvm-sh/nvm"
get_latest_github_release() {
  curl --silent "https://api.github.com/repos/$1/releases/latest" |
    grep '"tag_name":' |
    sed -E 's/.*"([^"]+)".*/\1/'
}

# install zsh from source
# > install_zsh ~/Downloads/zsh-5.8/
install_zsh() {
  if [[ $# -eq 0 ]]
  then
    echo 'You must pass in the path to the zsh binary: install_zsh ~/Downloads/zsh-5.8/'
  else
    (cd $1 && ./configure && make && make test && sudo make install)
  fi
}

# install latest version of NVM
install_latest_nvm() {
  NVM_VER=$(get_latest_github_release "nvm-sh/nvm")
  curl -o- "https://raw.githubusercontent.com/nvm-sh/nvm/$NVM_VER/install.sh" | bash
}

# install latest version of Fira Code font
install_latest_firacode() {
  INSTALLED_FIRACODE_VER=$(cat .firacode |
    grep 'INSTALLED_VERSION=' |
    sed -E 's/.*INSTALLED_VERSION=([^"]+).*/\1/')
  LATEST_FIRACODE_VER=$(get_latest_github_release "tonsky/FiraCode")
  TEMP_DIR=$HOME/Downloads/Fira_Code

  echo "Version $INSTALLED_FIRACODE_VER of Fira Code is installed."

  if [[ "$LATEST_FIRACODE_VER" -gt "$INSTALLED_FIRACODE_VER" ]]
  then
    echo "Newer version is available. Downloading and installing now."

    mkdir $TEMP_DIR
    (cd $TEMP_DIR &&
      curl -L "https://github.com/tonsky/FiraCode/releases/download/$LATEST_FIRACODE_VER/Fira_Code_v$LATEST_FIRACODE_VER.zip" -o "Fira_Code.zip" &&
      unzip "Fira_Code.zip" &&
      rsync -avh --no-perms --exclude ".DS_Store" ttf/ ~/Library/Fonts/)
    rm -rf $TEMP_DIR

    sed -i .bak "s/INSTALLED_VERSION=.*/INSTALLED_VERSION=${LATEST_FIRACODE_VER}/" ~/.firacode
  else
    echo "Installed version is up-to-date."
  fi
}
