[alias]

	# List aliases
	aliases = "config --get-regexp ^alias\\."

	# Show files with conflicts
	dc = "diff --name-only --diff-filter=U"

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# Fetch and rebase all locally-tracked remote branches
	up = "pull --rebase --autostash"

  # Easier checkout
	x = "checkout"

  # Easier new branch
	xn = "checkout -b"

[commit]

	# Sign commits usiung GPG
	gpgsign = true

[core]

	# Set preferred editor
	editor = nano

	# Use custom .gitignore
	excludesfile = ~/.gitignore

[credential]

	# Set credential helper
	helper = osxkeychain

[gpg]

	# Set gpg program
	program = /usr/local/MacGPG2/bin/gpg2

[help]

	# Automatically correct and execute mistyped commands
	autocorrect = 1
